#header {
	color: #7BAFD4;
	text-align: center;
	font-family: Lato, sans-serif;
	
}


.container{
	/*width: 980px; */
	margin-left: 6%;
	margin-right: 6%;
	width: 88%;
	
}



ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
	overflow: hidden;
	border: black solid 1px;
	
	
   background-color: #7BAFD4;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e0f3fa), color-stop(50%, #d8f0fc), color-stop(51%, #b8e2f6), color-stop(100%, #b6dffd));
   
}
li {
	float: left;
}

li span {
    display: block;
   
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-family: Lato, sans-serif;
	border-color: black;
	
}
li span:hover {
   background: #709DC4;
}
.active{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(50%, #f3f3f3), color-stop(51%, #ededed), color-stop(100%, #ffffff));
}



#thepage {

	text-align: center;
	font-family: Lato, sans-serif;
	font-size: 15;
}

#tableform {

	text-align: center;
	font-family: Lato, sans-serif;
	font-size: 15;
}


#theform {
	
	text-align: center;

}



td.countCol{
	width: 50px;
	
}

button.articleButton{
	width: 50px;
	margin-top: 2.5px;
	margin-bottom: 2.5px;
	margin-right: 5px;
}

table.center{
	border-spacing: 5px 5px;
	table-layout: fixed;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	
	font-family: Lato, sans-serif;
	font-size: 15;
	
	
}

div.picDescription{
	width : 50%;
	margin-left : 0%;
	
	
	
}
