/* General */

body {
	font-family: Lato, sans-serif;
}

main {
	font-size: medium;
}

#loader{
	margin: auto;
}

#results, #loader, #show-subterms, #path-subresults{
	display: none;
}

#tableform, #downloadform, #filterSection, 
#inputSection, #displayText, #path-subresults {
	text-align: center;
}

/* Header */

#header {
	color: #7BAFD4;
	text-align: center;
	font-family: Lato, sans-serif;
}

#logo {
	height: 70px;
	width: 75px;
}

/* Navigation menu */

#nav{
	list-style-type: none;
    margin: 0;
    padding: 0;
	overflow: hidden;
	border: black solid 1px;
	background-color: #7BAFD4;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e0f3fa), color-stop(50%, #d8f0fc), color-stop(51%, #b8e2f6), color-stop(100%, #b6dffd));
}

#nav li {
	float: left;
}

#nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	border-color: black;
}

#nav li:hover a{
   background: #709DC4;
   color: white;
}

.active{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(50%, #f3f3f3), color-stop(51%, #ededed), color-stop(100%, #ffffff));
}

/* Results table */

.table-arrow{
	width: 20px;
	height: 20px;
}
#prev-arrow{
	margin-right: 20px;
}
#next-arrow{
	margin-left: 20px;
}

table.center{
	border-spacing: 20px 5px;
	border-collapse: separate;
	/* table-layout: fixed; */
	margin: auto;
}

/* Intro section */

#introSection img {
	height: 250px;
	float: right;
}

#introSection+* {
	clear: both;
}

#introText {
	padding-top: 50px;
}

/* Other */

.suggestion-bar, #selectBar{
	margin: 10px;
	width: 500px;
	max-width: 100%;
}

#filterSection input {
    margin: 10px;
}

#downloadform {
	margin: 20px 0;
}

.download-button {
	width: 150px;
	margin: 0 10px;
}

#terms-list{
	list-style-type: none;
}
#terms-list button{
	margin: 0 10px;
}

